* {
    margin: 0;
    padding: 0;
}
header {
    background-color: #b0c4b1;
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-areas: 
    "logo titulo paginas"
    "logo titulo paginas"
    "logo titulo paginas";
    grid-template-columns: 2fr 4fr 2fr;
    align-items: stretch;
    
}

.header_logo {
    grid-area: logo;
}
.header_titulo {
    grid-area: titulo;
}

.paginas { 
   grid-area: paginas;
   display: flex;
   flex-direction: column;
}
.paginas li {
    margin: 5px;
}
.paginas .izq{
    margin: 20px;
    display: flex;
    justify-content: end;
}

.paginas ul {
    display: flex;
    flex-direction: row-reverse;
 }

ul {
    list-style: none;
}

.paginas li {
    border: 1px solid black
}

body {
    background-color: #dedbd2
}

.imgCentral {
    margin: 50px;
    display: flex;
    justify-content:center; 
    align-items:center;
    max-inline-size: 100%;
    block-size: auto;

}
h1 {
    color: #4a5759;
    font-size: 100px;
    display: flex;
    justify-content:center;   
}

.productos {
    display: flex;
    flex-direction: row;
   
}

.productos {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.productos div {
    margin: 20px;
}
footer {
    background-color: #b0c4b1;
  
}
.encabezado {
    display: flex;
    justify-content: center;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    
}

.upperFoot ul {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.upperFoot ul li {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 320) { /*mobile*/
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr 50px;
        grid-template-areas: 
        "navegacion "
        "principal" 
        "pie";
    }

    header {
        grid-area: navegacion;
    }

    main {
        grid-area: principal;
    }

    footer {
        grid-area: pie;
    }
    #galeria {
        grid-template-columns: repeat(1, 1fr);
        
    }
}
@media (min-width: 768) { /*tablet*/
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px 1fr 50px;
        grid-template-areas: 
        "navegacion"
        "principal" 
        "pie";
    }
    
    header {
        grid-area: navegacion;
    }

    main {
        grid-area: principal;
    }

    footer {
    grid-area: pie;
    }

    #galeria {
        grid-template-columns: repeat(1, 1fr);
       
    }
}

@media (min-width:1024px) { /*desktop*/
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px 1fr 50px;
        grid-template-areas: 
        "navegacion navegacion"
        "principal principal" 
        "pie pie";
    }
}